<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Viajes</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
</head>

<body>

    <% include ./partials/encabezado %>


    <div class="container">
        <img src="/imagenes/fondo.jpg" width="100%">
        <% if (mensaje && mensaje.length > 0) { %>
            <h4><span class="icon-info"></span>
              <%=mensaje%></h4>
            <% } %>
            
        <% if(mbusqueda==1){ %>
        <h1>Inicio</h1>
        <p>Aquí nuestras últimas publicaciones:</p>
        <div class="row">
            <div class="col-sm-12">
                <form class="buscador" action="/">
                    <label for="busqueda"> Buscar Publicacion</label>
                    <input type="text" id="busqueda" name="busqueda"/>
                    <button type="submit"> <span class="icon-search"></span>Buscar</button>
                </form>
            </div>
        </div>
        <% } %>
        <div class="row">

            <% publicaciones.forEach(publicacion => { %>
            <div class="col-sm-12">
                <div class="card fluid ">
                    <h3 class="section"><a href="/publicacion/<%=publicacion.id%>">
                            <%=publicacion.titulo%></a> <mark class="tag">
                            <%=publicacion.votos%></mark></h3>
                    <h6 class="section dark">
                        <% if(publicacion.avatar && publicacion.avatar != ""){%>
                            <img class="avatar" src="/avatars/<%=publicacion.avatar%>"/>
                        <%}
                        else{ %>
                            <span class="icon-user"></span>
                        <% } %>
                        
                        <%=publicacion.pseudonimo%> -
                        <span class="icon-calendar"></span>
                        <%= publicacion.fecha_hora.getFullYear() %>/
                        <%= publicacion.fecha_hora.getMonth() + 2 %>/
                        <%= publicacion.fecha_hora.getDate() %>
                    </h6>
                    <p>
                        <%= publicacion.resumen %>
                    </p>
                </div>
            </div>
            <% }) %>

        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <p class="centrado">
                <a href="/?pagina=<%=pagina-1%>">Anterior</a>
                |
                <a href="/?pagina=<%=pagina+1%>">Siguiente</a>
            </p>
        </div>
    </div>

    <% include ./partials/pie %>
    <script src="javascripts/script.js"></script>
</body>

</html>