<header class="sticky">
  <div class="enlaces-registro">
    <span class="icon-user"></span>
    <%=usuario.pseudonimo%> |
    <a href="/procesar_cerrar_sesion">Cerrar Sesion</a>
  </div>
  <a href="#" class="logo">Cobrando S.A.S.</a>
  <a href="/admin" class="button"><span class="icon-credit"></span>Admin</a>
</header>
