<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Listado de Productos</h1>
    <ul>
        <%var contador=0; for(let i=0;i<productos.length;i++){ contador++; %>
        <li><%=productos[i].nombre%></li>
        <% } %>
    </ul>

    <h2>Total productos = <%=contador%></h2>
    <hr>
    <form action="/procesar" method="POST">
        <h4>Registre un nuevo producto: </h4>
        <p>
            <label>Nombre</label>
            <input type="text" name="nombre">
        </p>
        <p>
            <label>Cantidad</label>
            <input type="number" name="cantidad">
        </p>
        <p>
            <label>Precio</label>
            <input type="number" name="precio">
        </p>
        <button type="submit"> Enviar</button>

    </form>
</body>

</html>