<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tienda</h1>
    <h3>Nombre: <%=nombre%></h3>
    <h3>Direccion: <%=direccion%></h3>
    <h3>Telefonos: <%=telefonos%></h3>
    
</body>
</html>