<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/procesar" method="POST">
        <div>
            <label><strong>username</strong></label>
            <input type="text" placeholder="user" name="usuario">
        </div>
        <br/>
        <div>
            <label><strong>email</strong></label>
            <input type="email" placeholder="andres123@gmail.com" name="correo">
        </div>
        <br/>
        <button type="submit">Procesar</button>
    </form>
</body>
</html>